.progressBarContainer {
    top: 0px;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 5px;

    .progressBar {
        background: linear-gradient(to right, #eb751d, rgb(238, 207, 130));
        transform-origin: top right;
        transform: scale(0, 0);
        // opacity: .1;
        height: 5px;
        transition: .1s ease-in-out;
    }
}

.sharing {
    display: none;
}



.top {

    margin-top: 50px;

    h1 {
        line-height: 3rem;
        font-size: 1.5rem;
        margin: 10px 0;
        color: #eb751d;
        font-weight: 600;
    }

    .ads {
        text-align: center;
        background-color: rgb(230, 219, 219);
        width: 100%;

        .adpic {
            margin-top: 5px !important;
        }

    }

    .move {
        border-radius: 0;

    }

    .breadcrumb {
        display: flex;
        margin: 1rem 5px;

        a {
            text-decoration: none;
            color: #eb751d;


            &:hover {
                color: #337ab7;
                text-decoration: underline;
            }
        }

        h5 {
            font-size: 1rem;
            margin-left: 10px;
            margin-bottom: 0px;
        }
    }

    .Section {

        display: flex;
        align-items: center;
        margin: auto;
        padding: 0 15px;
        

        .author {
            width: 60px;
            height: 60px;
            margin-top: -3rem;

            .pic {
                border-radius: 50%;
            }
        }

        .namePublished {
           
            margin-top: 10px;
            margin-right: 10px;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto;
            column-gap: 10px;
            row-gap: 20px;
            justify-content: space-evenly;
            align-content: center;


            h6 {
                display: flex;
                align-items: center;
                margin-right: 2px;
                font-size: 1rem;
            }

            .rate {
                display: flex;
                align-items: center;
            }

            .time {
                display: flex;
                align-items: center;
            }

            .mobileSharing {
               margin-top: 8px;
                .shareButton {
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;
                   
                }
            }

        }
    }

    .carosel {
        .related {
            margin: 10px 0px;

            h4 {
                font-size: 1rem;
                margin-right: 5px;
                font-weight: 600;
            }
        }

        margin: auto;
        margin-bottom: 20px;
        padding: 0 15px
    }



    .all {

        .article {

            font-size: 1rem;
            line-height: 2rem;

            .content {

                .class-to-action {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    border: 2px solid #f6a828;
                    border-radius: 1rem;
                    padding: 20px;

                }

                blockquote {

                    text-align: center;
                    box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
                    padding: 10px;
                    border-radius: 5px;
                    margin: 50px 0;


                    strong {

                        color: #454F54;
                    }

                }

                blockquote::before {

                    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='50px' height='50px'%3E%3Cpath fill='%23eb751d' d='M11 18V10H9.12L11.12 6H5.38L3 10.76V18M9 16H5V11.24L6.62 8H7.88L5.88 12H9M21 18V10H19.12L21.12 6H15.38L13 10.76V18M19 16H15V11.24L16.62 8H17.88L15.88 12H19Z' /%3E%3C/svg%3E");
                    display: flex;
                    position: relative;
                    top: -30px;
                    height: 1rem;

                }

                h2 {
                    line-height: 3rem;
                    font-size: 1.5rem;
                    color: #eb751d;
                }

                a {
                    text-decoration: none;
                    color: #eb751d;


                    &:hover {
                        color: #337ab7;
                        text-decoration: underline;
                    }
                }

                img {

                    margin-bottom: 20px;
                    margin-top: 20px;
                    border-radius: 5px;
                }
            }



        }
    }
}

.dark {
    .article {
        blockquote {
            background-color: #474B4D;

            strong {
                color: white
            }
        }
    }
}





@media screen and (min-width: 800px) {


    .top {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        .Section {

            display: flex;
            align-items: center;
            margin-top: -1rem;
            width: 70%;
            padding: 0;

            .author {
                width: 80px;
                height: 80px;
                margin-top: 0rem;

                .pic {
                    border-radius: 50%;
                }
            }

            .namePublished {
                display: flex;
                flex-direction: row;
                justify-content: space-between !important;
                align-items: flex-start;
                width: 100%;
                margin-right: 5px;



            }

            .mobileSharing {
                display: none;
            }
        }


        h1 {
            margin: 25px 0;
        }

        .image {
            width: 70%;
            margin-top: 10px;

            .move {
                border-radius: 5px;

            }
        }


        .all {
            width: 70%;
            display: flex;
            position: relative;

            .sharing {

                display: flex;
                flex-direction: column;
                align-items: center;
                position: sticky;
                height: 100%;
                top: 70px;
                margin-top: 25px;
                margin-bottom: 50px;

                a {
                    padding-top: 5px;

                }

                .interactions {
                    margin: .5rem 0;
                    border: gray 1px solid;
                    padding: 5px;
                    border-radius: 5px;

                    h5 {
                        margin: 0;
                    }
                }

                .shareButton {
                    background-color: transparent;
                    border: 0;
                    cursor: pointer;

                }

                .button {
                    display: flex;


                    .filledheart {
                        svg {
                            path {
                                fill: #000
                            }

                        }
                    }

                    svg {
                        width: 30px;
                        height: 30px;
                    }

                    .heart {
                        background-color: transparent;
                        border: 0;
                        cursor: pointer;
                    }
                }


            }
        }

        .article {

            .mobileSharing {
                display: none;
            }
        }

        .carosel {
            width: 70%;

            .related {
                margin: 10px 0px;

                h4 {
                    font-size: 1.5rem;
                }
            }
        }
    }

}