.list {

//   border-radius: 5px;
//   margin-bottom: 20px;


  .image {
    // border-radius: 5px;
    // box-shadow: 0 1px 4px rgb(0 0 0 / 16%);
    // transition: all 0.2s ease-in-out;
    // display: flex;
    // align-items: center;
    // padding: 8px;
    // padding-bottom: 2px;
    // margin-left: 2px;

    // &:hover {
    //   box-shadow: 0 8px 16px 0 rgba(120, 118, 118, 0.2);
    // }

    // a {

    //   img {
    //     border-radius: 5px;

    //   }
    // }

    a {
      text-decoration: none;
      color: #454F54;

      h4 {
        font-size: 15px;
        padding-right: 5px;

      }
    }
  }
  .button {
    display: flex;

    .filledheart {
        svg {
            path {
                fill: #000
            }
        }
    }

    
    .heart {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        svg {
            width: 20px;
            height: 20px;
        }
    
    }

    .shareButton {
        background-color: transparent;
        border: 0;
        cursor: pointer;
        svg {
            width: 18px;
            height: 17px;
        }
    }
}

}

.dark {
  .image {
    background-color: #474B4D;

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

      img {
        opacity: 0.5;
        transition: opacity 0.3s ease-in-out;

      }
    }
  }

  a {
    h4 {
      color: #fff;
    }
  }
}