.learnsearch {
    margin-top: 50px;
    padding-top: 20px;
margin-bottom: 10px;
}

.name_description {

    line-height: 2rem;
    

    h1 {
        margin: 15px 5px;
        color: #eb751d;
        font-weight: 600;
    }

    p {
        margin: 10px 5px;
        text-align: justify;
    }
}

.load {
    margin-bottom: 50px;

    h1 {
        color: #eb751d;
    }

    .articles {

        a {
            text-decoration: none;
        }

        img {
            padding-top: 10px;
            border-radius: 5px 5px 0 0;
        }
    }
}



@media screen and (min-width: 800px) {

    .load {

        .articles {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto;
            column-gap: 10px;
            row-gap: 20px;
            justify-content: space-evenly;
            align-content: center;
        }
    }
}

@media screen and (min-width: 1024px) {

    .load {

        .articles {
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            grid-template-rows: auto auto auto;
            column-gap: 5px;
            row-gap: 15px;
        }
    }
}