.catogery {
    margin-bottom: 20px;
    h2 {
        
        margin-bottom: 10px;
        font-weight: 600;
    }

   
    a {
        color: #454F54;
        text-decoration: none;

        h5 {
            color: #eb751d;
        }
    }
}

.dark{
    h2{
        color: #f9f9f9;
    }
}