.dark {
    background-color: #474B4D !important;
}

.navbar {
    height: 50px;

    box-shadow: 0 5px 20px 0 rgb(0 0 0 / 8%);
    background-color: white;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;

    .navContent {
        align-items: center !important;
        text-decoration: none;
        justify-content: space-between;
        display: flex;
        flex-direction: row;

        .logo {
            cursor: pointer;
            text-align: center;
            vertical-align: middle;
            z-index: 102;
        }

        .menu {
            cursor: pointer;
            z-index: 102;
            width: 80px;
            padding-bottom: 5px;

            h4 {
                font-size: 1rem;
            }


            .dropdown {
                position: absolute;
                display: none;
                border-radius: 5px;
                cursor: pointer;
                padding: 10px;
                background-color: #f1f1f1;
                min-width: 100px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 103;
                top: 1rem;
            }

            &:hover {
                .dropdown {
                    display: block;
                }
            }

            a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                background-color: #f1f1f1;

                &:hover {
                    background-color: #ddd;
                }
            }
        }

        .nightmode {
            z-index: 102;
            width: 80px;
            overflow: visible;
            padding: 20px;
            padding-top: 15px;
        }
    }

}


@media screen and (min-width: 800px) {
    .navbar {
        .navContent {
            .menu {
                .dropdown {
                    min-width: 200px;

                }
            }
        }
    }
}