.load {
    margin-top: 70px;
    margin-bottom: 50px;
    min-height: 1500px;
    h1 {
        color: #eb751d;
    }
    .breadcrumb {
        display: flex;
        margin-bottom: 1rem;

        a {
            text-decoration: none;
            color: #4a4947;

            &:hover {
                color: #337ab7;
                text-decoration: underline;
            }
        }

        h5 {
            margin-left: 10px;
            margin-bottom: 0px;
        }
    }
    .articles {
       
        a {
            text-decoration: none;
        }

       
    }
}



@media screen and (min-width: 800px) {

    .load {

        .articles {
        
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: auto auto;
            column-gap: 10px;
            row-gap: 20px;
            justify-content: space-evenly;
            align-content: center;
        }
    }
}

@media screen and (min-width: 1024px) {

    .load {

        .articles {
            display: grid;
            grid-template-columns: 33.3% 33.3% 33.3%;
            grid-template-rows: auto auto auto;
            column-gap: 5px;
            row-gap: 15px;
        }
    }
}