.starRating {
    margin: auto;
    padding: 0 15px;
    text-align: center;

    .width {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: 100px;

        h4 {
            font-size: 20px;
            margin-bottom: 20px;
        }

        .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: flex-start;

            .emojis {
                position: relative;
                width: 70px;
              
                .none {
                   
                    opacity: 0;
                    position: absolute;
                    width: 70px;
                    top: 0;
                    left: 0;

                }

                .value {
                  
                    position: absolute;
                    top: 0px;
                    left: 0;
                    transition: .2s ease-in-out;
                    z-index: 5;
                    width: 70px;

                }

                button {
                   
                    background-color: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    filter: grayscale(.7);

                    .emo1 {
                        position: absolute;
                       
                        width: 70px;
                        top: 0;
                        left: 0;
                        transition: .2s ease-in-out;


                    }



                }

            }
        }
    }
}