.starRating {
    margin: auto;
    padding: 0 15px;
    text-align: center;

    .width {
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        height: 100px;

        .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;

            .emojis {
                position: relative;
                width: 45px;

                .none {
                    opacity: 0;
                    position: absolute;
                    width: 45px;
                    top: 0;
                    left: 0
                }


                button {

                    background-color: transparent;
                    border: none;
                    outline: none;
                    cursor: pointer;

                    .emo1 {
                        position: absolute;
                        // width: 45px;
                        top: 0;
                        left: 0;
                        transition: .2s ease-in-out;
                    }


                }

            }



        }
    }
}